.loadHotels {
  margin: 5%;
}

.hotelContainer {
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 100%;
  overflow: hidden;
}
.hotelContainer:hover {
  background: #fcf1d7;
}

.hotelMainInformation {
  display: flex;
}

.hotelImageContainer {
  flex: 0 1 35%;
  width: 100%;
}

.hotelImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotelInformation {
  flex: 0 1 65%;
  padding: 30px;
  border-left: 1px solid #aaaaaa;
}

.edgeElements {
  display: flex;
  justify-content: space-between;
}

.location {
  font-weight: normal;
}

.hotelDescription {
  padding: 20px 0;
}

.hotelPrice {
  font-size: 2.5em;
  margin-right: 0;
  color: #6a3460;
}

.statusIndicator {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.rowRightAligned {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 850px) {
  .hotelMainInformation {
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  .edgeElements {
    flex-direction: column;
  }
}
